<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
	<title>Soccer a Sports Category Flat Bootstrap Responsive Website Template | Contact :: w3layouts</title>
	<!--fonts-->
		<link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700' rel='stylesheet' type='text/css'>	
 <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>		
	<!--//fonts-->
		<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="soccer Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<!-- js -->
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<!-- js -->
</head>
<script>
	// Function to check booking availability
	function checkBooking() {
		const turfid = document.getElementById('turfid').value;
		const date = document.getElementById('date').value;
		const timefrom = parseInt(document.getElementById('timefrom').value);
		const timeto = parseInt(document.getElementById('timeto').value);
		const qrCode = document.getElementById('payment-qr');
		const payid = document.getElementById('paydiv');
		const submitButton = document.getElementById('submit-button');
	
		if (!date) return; // Do nothing if date is not selected
	
		fetch(`/check_booking/?turfid=${turfid}&date=${date}&timefrom=${timefrom}&timeto=${timeto}`)
			.then(response => response.json())
			.then(data => {
				if (data.available) {
					qrCode.hidden = false;
					payid.hidden = false;
					qrCode.src = "/static/images/payment_qr.png"
					submitButton.disabled = false;
					document.getElementById('status').innerText = data.text;
				} else {
					qrCode.src = ""
					qrCode.hidden = true;
					payid.hidden = true;
					submitButton.disabled = true;
					document.getElementById('status').innerText = data.text;
				}
			});

		// Hide Payment if Logged In
		if (!"{{request.session.id}}"){
			console.log(" User Not Logged In");
			document.getElementById('sessionlog').hidden = true;
			document.getElementById('sessionSign').hidden = false;
		}else{
			console.log(" User Logged In");
			// User Logged In
			document.getElementById('sessionlog').hidden = false;
			document.getElementById('sessionSign').hidden = true;
		}
	}

	function updatePrice() {
		debugger;
		const startHour = parseInt(document.getElementById('timefrom').value);
		var endHour = parseInt(document.getElementById('timeto').value);
		const pricePerHour = parseInt(document.getElementById('turf_price').getAttribute("value"));

		// Ensure the end hour is always greater than the start hour
		if (endHour <= startHour) {
			document.getElementById('timeto').value = startHour + 1;
			endHour = parseInt(document.getElementById('timeto').value);
		}

		const totalHours = endHour - startHour;
		const totalPrice = totalHours * pricePerHour;
		checkBooking();

		document.getElementById('selected-timefrom').innerText = startHour;
		document.getElementById('selected-timeto').innerText = endHour;
		document.getElementById('total-hours').innerText = totalHours;
		document.getElementById('price').innerText = totalPrice;
	}

document.addEventListener('DOMContentLoaded', function() {
    updatePrice(); // Set initial booking details
	}
);
</script>
<body>
<!-- header -->
<div class="header">
	 <div class="container">
		 <div class="logo">
			   <h1><a href="/">TURF BOOKING</a></h1>
		 </div>	
		 <div class="top-menu">
			 <span class="menu"></span>
			  <ul>
				 <li><a href="/">HOME</a></li>
				 
				 <!-- <li><a href="/error/">TRAINING</a></li> -->
			
				 
				 {% if request.session.id %}
				  <li><a href="/logout/">LOGOUT</a></li>
				  {% else %}
				  <li><a href="/contact/">SIGN UP</a></li>
				 <li><a href="/login/">LOGIN</a></li>
				 {% endif %}
			 </ul>			 
		 </div>
		 <!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(".top-menu ul").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->
		 <div class="clearfix"></div>
	 </div>
</div>
<!-- //header -->
<!-- banner -->
<div class="strip">
	 <div class="container">
	 <div class="social">			 
			 <a href="#"><i class="facebook"></i></a>
			 <a href="#"><i class="twitter"></i></a>
			 <a href="#"><i class="dribble"></i></a>	
			 <a href="#"><i class="google"></i></a>	
			 <a href="#"><i class="youtube"></i></a>	
	 </div>
		<div class="clearfix"></div>
		</div>
</div>
<!-- banner -->
<!-- //header -->
<div class="container">
		 <ol class="breadcrumb">
		  <li><a href="/">Home</a></li>
		  <li class="active">Turf Booking</li>
		 </ol>
</div>
<!-- //header -->


<div class="featured-news">
	 <div class="container">
		 <div class="ftrd-head text-center">
			 <h3>TURF BOOKING</h3>
			 <!-- <p>Phasellus ultricies magna vitae justo aliquam, cursus bibendum neque tempus.</p> -->
		 </div>
		 <div class="event-grids">

			 	{% for x in turfdetails %}


		 			 <div class="col-md-6 event-grid-sec">
				 <div class="event-time text-center">
					 <p>{{x.id}}. {{x.tname}}</p>
				 </div>
				 <div class="event-grid_pic">
					 <img src="{{x.image.url}}" alt=""/>
					 <h3><a href="#">{{x.tname}}</a></h3>
					 <p>{{x.description}}</p>
					 <p>{{x.location}}</p>
					 <p>{{x.mobile}}</p>
					 <p>{{x.facility}}</p>
					 <p>{{x.specification}}</p>
					 <p>Rs.<span id="turf_price" value="{{x.price}}">{{x.price}}</span></p>
					 
				<form action="/booking/" method="POST">
			 	{% csrf_token %}
			 			<input type="hidden" value="{{x.id}}" id="turfid" name="turfid">
						 <label for="timefrom">Start Time:</label>
						 <input type="range" id="timefrom" name="timefrom" min="0" max="23" value="0" oninput="updatePrice()">
						 <span id="selected-timefrom">0</span>:00<br>
				 
						 <label for="timeto">End Time:</label>
						 <input type="range" id="timeto" name="timeto" min="1" max="24" value="1" oninput="updatePrice()">
						 <span id="selected-timeto">1</span>:00<br>
				 
						 <p>Total Hours: <span id="total-hours">1</span></p>
						 <p>Price: <span id="price"></span></p>
						<label>Date</label>
						<input type="date" name="date" id="date" placeholder="Date" required onchange="checkBooking()"/><br>
						<label for="category">Sport: </label>
						{% for item in category %}
							<input type="radio" name="category" value="{{item}}"> {{item}}
						{% endfor %}
						<br>
						<p>Booking Status: <span id="status"></span></p><br>
						<div id="sessionlog">

						<img hidden="true" id="payment-qr">
						<br>
						<div hidden="'true" id="paydiv">
							<label for='payment-id'>Payment Id(Optional): </label>
							<input name="payment-id" id="payment-id">
						</div>
						<br>
						<br>
						<button id="submit-button" disabled="true" type="submit" class="btn btn-info">Submit</button>
						</div>
						<div id="sessionSign" hidden="true">
							<p><a href="/login"><button>Log In</button></a>/<a href="/contact"><button>Sign Up</button></a> to Book Turf</p>
						</div>
						<!-- <input type="submit" value="SEND"> -->
			 	</form>
				 </div>


			
			 </div>
				{% endfor %}

				 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!---->



<!-- contact -->

<!--footer-->
<div class="footer">
	 <div class="container">
		 <div class="copywrite">
			 <p>&copy; 2024 Turf Booking System. All Rights 
Reserved</p>
		 </div>
		 <div class="footer-menu">
			 <ul>
				 <li><a href="/">HOME</a></li>
				 
				 <!-- <li><a href="index.html">TRAINING</a></li> -->
				 
				 <li><a href="/turf/">TURF</a></li>
				 {% if request.session.id %}
				 <li><a href="/logout/">LOGOUT</a></li>
				 {% else %}
				 <li><a href="/CONTACT/">SIGN UP</a></li>
				 <li><a href="/login/">LOGIN</a></li>
				 {% endif %}
			 </ul>
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!-- //footer -->
</body>
</html>