
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
	<title>Soccer a Sports Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
	<!--fonts-->
		<link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700' rel='stylesheet' type='text/css'>	
	   <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>		
	<!--//fonts-->		
		<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="soccer Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<!-- js -->
		<script src="/static/js/jquery.min.js"></script>
	<!-- js -->
</head>
<body>
<!-- header -->
<div class="header">
	 <div class="container">
		 <div class="logo">
			   <h1><a href="#">TURF BOOKING</a></h1>
		 </div>	
		 <div class="top-menu">
			 <span class="menu"></span>
			  <ul>
				 <li><a href="/">HOME</a></li>
				 
				 <!-- <li><a href="/error/">TRAINING</a></li> -->
				
				 
				 <li><a href="/contact/">SIGN IN</a></li>
				 <!-- <li><a href="/login/">LOGIN</a></li> -->
				 {% if request.session.id %}
				 <li><a href="/logout/">LOGOUT</a></li>
				 {% else %}
				 <li><a href="/login/">LOGIN</a></li>
				 {% endif %}
			 </ul>			 
		 </div>			
		 <!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(".top-menu ul").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->	  	

		 <div class="clearfix"></div>
	 </div>
</div>
<!-- //header -->
<!-- banner -->
<div class="strip">

	 
		<div class="clearfix"></div>
		</div>
</div>
<!-- banner -->
<div class="container">
		 <ol class="breadcrumb">
		  <li><a href="/">Home</a></li>
		  <li class="active">Turf</li>
		 </ol>
</div>
<div class="ftrd-head text-center">
			 <h3>TURFS</h3>
</div>
<div class="banner">
		<script src="/static/js/responsiveslides.min.js"></script>
  <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	speed: 300,
        manualControls: '#slider3-pager',
      });
    });
  </script>

 <div class="slider">
	  <!-- <div class="callbacks_container">
	     <ul class="rslides" id="slider">
	         <li>
				  <img src="/static/images/bnr3.jpg" alt="">
				  <div class="banner-info">
				  <h3>Sed ultricies elementum.</h3>
				  <p>Lorem Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec a odio quam. Aenean ipsum arcu, 
				  luctus vel ultricies ut, commodo sed turpis. Phasellus tristique lorem sit amet tellus dignissim hendrerit.
				  In hac habitasse platea dictumst. Sed vehicula volutpat varius elit. consectetur adipiscing elit.</p>
				  </div>
	         </li>
	         <li>
				 <img src="/static/images/bnr2.jpg" alt="">
	        	 <div class="banner-info">
				  <h3>Curabitur turpis posuere rutrum.</h3>
				  <p>Lorem Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec a odio quam. Aenean ipsum arcu, 
				  luctus vel ultricies ut, commodo sed turpis. Phasellus tristique lorem sit amet tellus dignissim hendrerit.
				  In hac habitasse platea dictumst. Sed vehicula volutpat varius elit. consectetur adipiscing elit.</p>
				  </div>
			 </li>
	         <li>
	             <img src="/static/images/bnr1.jpg" alt="">
	        	 <div class="banner-info">
				  <h3>Sed ultricies elementum.</h3>
				  <p>Lorem Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec a odio quam. Aenean ipsum arcu, 
				  luctus vel ultricies ut, commodo sed turpis. Phasellus tristique lorem sit amet tellus dignissim hendrerit.
				  In hac habitasse platea dictumst. Sed vehicula volutpat varius elit. consectetur adipiscing elit.</p>
				  </div>
	         </li>
	      </ul>
	  </div> -->
  </div>
<!---->
				
	 <!---start-content----->
	 <div class="banner-bottom-grids">
		 <div class="container">
			 <!-- <div class="col-md-6 banner-text-info clr1">
				 <i class="icon1"></i>
				 <div class="bnr-text">				 
					 <h3>CHAMPIONS LEAGUE</h3>
					 <p>Vestibulum malesuada nisi sit amet justo ullamcorper, non convallis justo consequat Integer et urna bibendum elit accumsan interdum.</p>
				 </div>
			 </div>
			 <div class="col-md-6 banner-text-info clr2">	
				 <i class="icon2"></i>
				 <div class="bnr-text">
					 <h3>NEWS & EVENTS</h3>
					 <p>Vestibulum malesuada nisi sit amet justo ullamcorper, non convallis justo consequat Integer et urna bibendum elit accumsan interdum.</p>
				 </div>
			 </div>
			 <div class="clearfix"></div>
			 
			 <div class="col-md-6 banner-text-info clr3 btm">	
				 <i class="icon3"></i>
				 <div class="bnr-text">
					 <h3>TRAINING</h3>
					 <p>Vestibulum malesuada nisi sit amet justo ullamcorper, non convallis justo consequat Integer et urna bibendum elit accumsan interdum.</p>
				 </div>
			 </div>
			 <div class="col-md-6 banner-text-info clr4 btm">	
				 <i class="icon4"></i>
				 <div class="bnr-text">
					 <h3>FINAL TOURNAMENT</h3>
					 <p>Vestibulum malesuada nisi sit amet justo ullamcorper, non convallis justo consequat Integer et urna bibendum elit accumsan interdum.</p>
				 </div>
			 </div>
			 <div class="clearfix"></div>
		 </div> -->
	 </div>
</div>
<!-- //banner -->
<div class="clearfix"></div>
<!-- content -->
<div class="content">
	 <div class="container">	 	
		 <div class="content-grids">
		 	{% for x in turfdetails %}
			 <div class="col-md-4 content-grid1">
			 	<br>
				 <img src="{{x.image.url}}" alt=""/>
				 <h3>{{x.tname}}</h3>
				<!--  <p>{{x.description}}</p> -->
				 <p>{{x.location}}</p>
				 <a href="/turf_details/?tid={{x.id}}">Read More..</a>
			 </div>
			 {% endfor %}

			 <!-- <div class="col-md-4 content-grid1">
				 <img src="/static/images/c2.jpg" alt=""/>
				 <h3>Women's Cup</h3>
				 <p>Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus 
				 Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker.</p>
				 <a href="#">Read More..</a>
			 </div> -->
			 <!-- <div class="col-md-4 content-grid1">
				 <img src="/static/images/c3.jpg" alt=""/>
				 <h3>Final Tournment</h3>
				 <p>Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus 
				 Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker.</p>
				 <a href="#">Read More..</a>
			 </div> -->
			 
		 </div>		 
	 </div>
</div>
<div class="panel-body widget-shadow">
	<h4>Booking History</h4>
	<table class="table">
		<thead>
			<tr>
			  <th>Id</th>
			  <th>User Name</th>
			  <th>User Address</th>
			  <th>Contact</th>
			  <th>Turf Name</th>
			  <th>Time From</th>
			  <th>Time To</th>
			  <th>Date</th>
			  <th>Status</th>
			</tr>
		</thead>
		<tbody>
			{% for x in booking_details %}
			<tr>
			  <th scope="row">1</th>
			  <td>{{x.userid.name}}</td>
			  <td>{{x.userid.address}}</td>
			  <td>{{x.userid.contact}}</td>
			  <td>{{x.turfid.tname}}</td>
			  <td>{{x.timefrom}}</td>
			  <td>{{x.timeto}}</td>
			  <td>{{x.date}}</td>
			  <td>{{x.status}}</td>
			</tr>
			{% endfor %}
			
			
		</tbody>
	</table>
</div>
<br>



<!--- //content--->
<!-- content-bottom -->
<!-- <div class="content-info">
	 <div class="container">
		 <div class="content-bottom-grids">
			 <div class="col-md-4 popular">	
				 <h3>POPULAR TAGS</h3>
				 <ul>
					 <li><a href="#">Ut vehicula nisl ut purus tempus aliquet.</a></li>
					 <li><a href="#">Nullam a risus pharetra nisi commodo auctor.</a></li>
					 <li><a href="#">Proin venenatis velit a fringilla rutrum.</a></li>
					 <li><a href="#">Nunc facilisis dolor ac suscipit volutpat.</a></li>
					 <li><a href="#">Cras tempor justo ac mauris laoreet lacus efficitur.</a></li>
					 <li><a href="#">Sed tincidunt enim ac elit tempor erat consequat.</a></li>
					 <li><a href="#">Proin venenatis velit a fringilla rutrum.</a></li>
					 <li><a href="#"> Aliquam vulputate mi vestibulum mauris ultrices.</a></li>
				 </ul>
			 </div>
			 <div class="col-md-4 welcome-pic">
				 <h3>ABOUT</h3>
				 <h4>Morbi sed arcu mollis, elementum erat venenatis, tincidunt tellus.</h4>
				 <img src="/static/images/cnt.ab.jpg" alt=""/>
				 <p>Aenean ut condimentum magna, mattis pretium massa. Sed sollicitudin ullamcorper auctor. Duis vestibulum velit id augue pulvinar egestas. 
				 Morbi sed orci auctor, feugiat felis at, fermentum magna. In ac egestas lectus.</p>
			</div>
			<div class="col-md-4 coach">
				 <h3>OUR COACHES</h3>
				 <div class="coch-grid chr">
					 <div class="coach-pic">
						 <img src="/static/images/ch1.jpg" alt=""/>
					 </div>
					 <div class="coach-pic-info">
						 <h4><a href="#">Phasellus at Tellus</a></h4>
						 <h5>Aenean vestibulum </h5>
						 <p>Donec ornare massa at velit fringilla, condimentum magna ornare tincidunt nulla dignissim.</p>
					 </div>
					 <div class="clearfix"></div>
				 </div>
				 <div class="coch-grid">
					 <div class="coach-pic">
						 <img src="/static/images/ch2.jpg" alt=""/>
					 </div>
					 <div class="coach-pic-info">
						 <h4><a href="#">Phasellus at Tellus</a></h4>
						 <h5>Aenean vestibulum </h5>
						 <p>Donec ornare massa at velit fringilla, condimentum magna ornare tincidunt nulla dignissim.</p>
					 </div>
					 <div class="clearfix"></div>
				 </div>
			</div>
			<div class="clearfix"></div>
		 </div>
	 </div>
</div> -->
<!-- //content-bottom -->
<!--footer-->
<div class="footer">
	 <div class="container">
		 <div class="copywrite">
			 <p>© 2015 All Rights Reseverd Design by <a href="http://w3layouts.com/">W3layouts</a> </p>
		 </div>
		 <div class="footer-menu">
			 <ul>
				 <li><a href="/">HOME</a></li>
				 
				 <!-- <li><a href="index.html">TRAINING</a></li> -->
				 
				 <li><a href="/turf/">TURF</a></li>
				 <li><a href="/contact/">SIGN IN</a></li>
				 {% if request.session.id %}
				 <li><a href="/logout/">LOGOUT</a></li>
				 {% else %}
				 <li><a href="/login/">LOGIN</a></li>
				 {% endif %}
			 </ul>
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!-- //footer -->
</body>
</html>